

.server-informations {
    position: fixed;
    top: 10%;
    height:150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.server-description {
    position: absolute;
    color: #ffffff;
    font: normal normal bold 15px/25px Poppins;
    font-weight: 300;
 
}

.big-title {
    position: relative;
    font: normal normal bold 85px/25px Poppins;
    font-weight: 900;
    letter-spacing: 5px;
    bottom: 50%;
    left: 13%;
    width: 500px;

    color: #ffffff;
}

.player-head {
    display: block;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    bottom: 1%;
    width: 65px;
    height: 70px;


}

.player-head-div {
    position: absolute;
    top: 3%;
    width: 70px;
    height: 70px;
}

.settings-btn {
    position: absolute;
    color: #3a3a3a;
    top: 10%;
    background-color: transparent;
    right: 5%;
    text-align: center;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 100px;
    transition: all 0.8s;
    z-index: 10;
}

.settings-btn:hover {
    background: #25252563;
}

.icon-settings:before {
    font-size: 30px;
    text-align: match-parent;
}


.action-bar2 {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row wrap;
    align-items: center;
    bottom: 2%;
    height: 80px;
    width: 100%;
    z-index: 12;
}

.caja1 {
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 400px;
    height: 100%;
    margin-left: 3%; 
}

.caja2 {
    width: 400px;
    height: 100%;
}

.caja3 {
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 400px;
    height: 100%;
    margin-right: 3%;
}

.play-element {
    height: 100%;
    text-align: center;
}

.play-btn {
    display: inline;
    top: 10px;
    width: 281px;
    height: 50px;
    border-radius: 100px;
    border: none;
    font: normal normal bold 30px Poppins;
    font-weight: 500;
    color: #ffffff;
    margin: 15px 0;    
    background-color: transparent;
    transition: all 1s;
}

.play-btn:hover {
    transform: translate(0, -5px);
}

.download-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-download,
.progress-bar {
    display: none;
}

.text-download {
    color: white;
    font: normal normal normal 15px Poppins;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #ffffff;
    border-radius: 10px;
}

.body-home {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 38vh;
    width: 100%;
    height: 40vh;

}

.news-list {
    position: relative;
    overflow: auto;
    width: 50%;    
}

.news-list::-webkit-scrollbar {
    width: 0;
}

.news-block {
    margin-bottom: 1rem;
    transition: opacity 1s;
    opacity: .6;
}

.news-block:hover {
    transition: opacity 1s;
    opacity: 1;
}

.opacity-1 {
    opacity: 1;
}

.news-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 87px;
    background-color: #2e2e2e;
    border-radius: 10px 10px 0px 0px;
    transition: color .2s, filter .2s;
}

.title {
    position: absolute;
    font: normal normal normal 27px/40px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    display: flex;
    position: absolute;
    text-decoration: none;
    max-width: calc(100% - 158px);
    font-weight: 600;
    font-size: 18px;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    overflow: hidden;
    line-height: 25px;
    align-items: center;
    height: 3em;
    transition: color .2s;
}

.date {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #E1E1E1;
    width: 75px;
    text-align: center;
    font-weight: 900;
    font-family: Poppins;
    transition: color .2s;
}

.day {
    font-size: 28px;
    margin-bottom: -10px;
    display: block;
}

.month {
    text-transform: uppercase;
    font-size: 14px;
}

.news-content {
    position: relative;
    width: 100%;
}

.bbWrapper {
    position: relative;
    padding: 20px;
    background-color: #1f1f1f;
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
}

.news-author {
    text-align: end;
    margin: 0;
    color: #F1F1F1;
}

.news-author span {
    font-style: italic;
}

.info-list {
  display: block;
  float: right;
    width: 70%;
    height: 100%;
    background: none;
}
.info-item {
 
   width: 100%;
   height: 100%;
}

.border {
    margin-right: 20px ;
    background-color: #8b8b8b88;
   width: 3px;
   height: 70%;
}

.server {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
   
    height: 100%;
    transition: opacity 1s;
    opacity: 1;
  
}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    
    width: 60px;
    height: 60px;
    top: 15px;
    left: 15px;
}

.player-name {
    display: block;
    font: normal normal normal 20px/25px Poppins;
    color: #E1E1E1;
    margin-left: 20px;
}

.name {

    font: normal normal normal 20px/25px Poppins;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.desc {

    font: normal normal normal 15px/25px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 40px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    width: 49px;
    height: 33px;

}

.text {
    display: block;
    text-align: center;
    font: normal normal normal 15px/25px Poppins;
    letter-spacing: 0px;
    color: #a5a5a5;
    margin-top: 3px;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
    margin-left: 36%;
    margin-top: -5%;
    margin-bottom: 10%;
}

.online.off {
    background-color: #FF0409;
}

